@model BookDb

@{
	BookDb db = new BookDb();
	var books = db.GetBooks();
	ViewBag.Title = "Моя библиотека";
}

<h1>Список прочитанных книг</h1>
<ul>
	@foreach (Book book in books)
	{
		<li>@book.ToString()</li>
	}
</ul>

<h2>
	<a asp-action="Add">Добавить книгу</a>
	<a asp-action="Remove">Удалить книгу</a>
</h2>